<div *ngIf="currentPost$ | async as post" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">{{post.post_title}}</h1>

    <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg relative mb-6 md:mb-8">
      <img src={{post.image}} loading="lazy" alt="Header Image" class="w-full h-full object-cover object-center" />
    </div>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      <!-- This is some text that goes as the body of an article, I was wondering how do I go about writing the body for this visual demo and an idea struck me, If I go about writing each and every thought as a line of text I could quite litrally fill the whole page for this article, so I set out to wright every thought that propped up in my head at the time, How its going you ask well, you tell me! from the length of this paragraph alone and the time it took for me to write it I can say that its going quite well. -->
      <scully-content></scully-content>
    </p>

    <!-- <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      I am consideing taking up writing as a hobby, I think I can start with small articles on tech and coding and branch out to include more topics as I get the hang for writing, after all writing is an art and it takes practice to master any art.  
    </p>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">Looking at my writing acumen I am positively impressed at the rate at which I am able to articulate my thoughts and give them form in words also from the looks of the article I have done a pretty decent job of nailing the look and feel of the blog!</p> -->
  </div>
</div>

<!-- <h3>ScullyIo content</h3>
<hr>

This is where Scully will inject the static HTML
<scully-content></scully-content>
<hr>
<h4>End of content</h4> -->

<!-- <div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">Our competitive advantage</h1>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      <scully-content></scully-content><a href="#" class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 underline transition duration-100">random</a> or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.
    </p>

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">About us</h2>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.</p>

    <ul class="list-disc list-inside text-gray-500 sm:text-lg mb-6 md:mb-8">
      <li>This is a section of some simple filler text</li>
      <li>Also known as placeholder text</li>
      <li>It shares some characteristics of a real written text</li>
    </ul>

    <blockquote class="text-gray-500 sm:text-lg italic border-l-4 pl-4 md:pl-6 mb-6 md:mb-8">“This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.”</blockquote>

    <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg relative mb-6 md:mb-8">
      <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600&h=350" loading="lazy" alt="Photo by Minh Pham" class="w-full h-full object-cover object-center" />
    </div>

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">Features</h2>

    <p class="text-gray-500 sm:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.</p>
  </div>
</div> -->
