<div
  *ngIf="currentPost$ | async as post"
  class="bg-white py-6 sm:py-8 lg:py-12"
>
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1
      class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6"
    >
      {{ post.post_title }}
    </h1>

    <div class="overflow-hidden relative mb-6 md:mb-8">
      <img
        src="{{ post.image }}"
        loading="lazy"
        alt="Header Image"
        class="w-full h-full object-cover object-center"
      />
    </div>
    <div class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      <scully-content></scully-content>
    </div>
  </div>
</div>
