<div class="flex justify-center">
    <div *ngIf="isHandset; else showThis">
      <!-- </mat-grid-list> -->
      <div layout-xs="column">
        <div flex>
          <app-dashboard class="m-10"></app-dashboard>
        </div>
        <div flex>
          <app-article class="m-8" [post]="articles"></app-article>
        </div>
      </div>
    </div>
    <ng-template #showThis>
      <div class="mt-10 flex-1">
        <mat-grid-list cols="3">
          <mat-grid-tile colspan="2"><app-dashboard></app-dashboard></mat-grid-tile>
          <mat-grid-tile colspan="1">
            <div class="justify-start">
                <div class="pl-4 pr-4">
                    <app-article [post]="articles"></app-article>
                </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="h-40 align-top right-0" colspan="3"><app-latest-stories [latest]=articles></app-latest-stories></mat-grid-tile>
        </mat-grid-list>
      </div>
    </ng-template>
</div>
